bottle-dev==0.13.2
docopt==0.6.2
gevent==25.5.1
gevent-websocket==0.10.1
greenlet==3.2.3
honcho==2.0.0
numpy==2.3.1
ollama==0.5.1
pgvector==0.4.1
#psycopg==3.2.9
#psycopg-pool==3.2.6
pyaml==25.7.0
pyyaml==6.0.2
websocket-client==1.8.0
