display {
    display: block;
}
message {
    display: block;
    border: 1px dashed blue;
    background: lightblue;
} 
thinking {
    display: block;
    background: yellow;
}
content {
    display: block;
    xborder: 1px dotted red;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    xdisplay: flex;
    xheight: auto; /* Or set a fixed height if needed */
    position: sticky;
    xposition: absolute;
    top: 0;
    xleft: 0;
    xwidth: 100%;
}
.display {
    xflex: 1;
    xoverflow: auto;
}
button {
    xflex-shrink: 1;
    xmargin-left:  10px;
    xmargin-right: 10px;
}
input {
    xflex-grow:    2;
    xmargin-left:  10px;
    xmargin-right: 10px;
}
