display {
    display: block;
}
message {
    display: block;
    border: 1px dashed blue;
    background: lightblue;
} 
thinking {
    display: block;
    background: yellow;
}
content {
    display: block;
    background: lightgreen;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    display: flex;
    height: auto; /* Or set a fixed height if needed */
    position: sticky;
    top: 0;
    width: 100%;
    background: lightgray;
}
.footer {
    display: flex;
    height: auto; /* Or set a fixed height if needed */
    position: sticky;
    bottom: 0;
    width: 100%;
    background: lightgray;
}
.display {
    flex: 1;
    overflow: auto;
}
button {
    flex-shrink: 1;
    margin-left:  10px;
    margin-right: 10px;
}
input {
    flex-grow:    2;
    margin-left:  10px;
    margin-right: 10px;
}
